.transition-group {
  position: relative;
}

.transition-container {
  position: absolute;
}

.transition-enter {
  opacity: 0.05;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.transition-exit {
  opacity: 1;
}

.transition-exit.transition-exit-active {
  opacity: 0.05;
  transition: opacity .5s ease-in;
}
