.slider {
  .slider-decorator-2 {
    bottom: -60px !important;
  }

  &-decorator-0 { /* Previous */
    & > button {
      visibility: hidden;

      &:after {
        position: absolute;
        top: -.5rem;
        left: 2rem;
        padding: 10px;
        visibility: visible !important;
        width: 2rem;
        height: 2rem;
        border-radius: 100px;
        background: $gunmetal;
        color: $floral-white;
        font-size: 2rem;
        line-height: .9;
        content: '\2039';
      }
    }
  }

  &-decorator-1 { /* Next */
    & > button {
      visibility: hidden;

      &:after {
        position: absolute;
        top: -.5rem;
        right: 2rem;
        padding: 10px;
        visibility: visible !important;
        width: 2rem;
        height: 2rem;
        border-radius: 100px;
        background: $gunmetal;
        color: $floral-white;
        font-size: 2rem;
        line-height: .9;
        content: '\203A';
      }
    }
  }
}