@mixin button($btn-color) {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 2px solid $btn-color;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: box-shadow .3s;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px $btn-color;
  }
}

.btn {
  @include button($floral-white);

  &.orange {
    @include button($portland-orange);
  }
}