@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');

$body-font: 'Open Sans', sans-serif;

$gunmetal: #2D3047;
$slate-gray: #6F7D8C;
$portland-orange: #F46036;
$platinum: #E5E6E4;
$floral-white: #FBFBF2;