@import '~@/styles/variables.global';

.carousel {
  background-color: $slate-gray;

  .carousel-slide {
    display: block;
    background-color: $portland-orange;
    color: $floral-white;
    height: 100%;
    padding: 20px;
    margin: 10px 5px;

    h1 {
      text-align: center;
    }
  }
}